# Configuración básica de la aplicación
NODE_ENV=development
REACT_APP_BASE_URL=https://macarenalorenzo.es
REACT_APP_CONTACT_EMAIL=direccion@macarenalorenzo.es
REACT_APP_COMPANY_ADDRESS=Puente Genil, Córdoba
PORT=3000
