# Configuración básica de la aplicación
NODE_ENV=development
REACT_APP_BASE_URL=http://localhost:3000
REACT_APP_CONTACT_EMAIL=info@macarenalorenzo.com
REACT_APP_COMPANY_ADDRESS=Puente Genil, Córdoba
PORT=3000
